<button id="hamburgerMenu" onClick="hideNavBar()">
  <span></span>
  <span></span>
  <span></span>
</button>

<div id="navContent">
  <ul>
    <li>
      <a href="../" class="navLinks" id="homePage"
        ><img src="../img/navBar/home.png" />
        <div>Home</div></a
      >
    </li>
    <li>
      <a href="./entries.html" class="navLinks" id="entriesPage"
        ><img src="../img/navBar/entries.png" />
        <div>Entries</div></a
      >
    </li>
    <li>
      <a href="./photos.html" class="navLinks" id="photosPage"
        ><img src="../img/navBar/photo.png" />
        <div>Photos</div></a
      >
    </li>
    <li>
      <a href="./goals.html" class="navLinks"
        ><img src="../img/navBar/goals.png" />
        <div>Goals</div></a
      >
    </li>
    <li>
      <a href="./settings.html" class="navLinks"
        ><img src="../img/navBar/settings.png" />
        <div>Settings</div></a
      >
    </li>
  </ul>
</div>
