<!-- <div class="logo">
  <img src="#" alt="Some Image" />
</div> -->
<!-- <div class="username"></div> -->
<ul>
  <li>
    <a href="#" class="navImages"
      ><img src="../img/navBar/home.png" />
      <div>Home</div></a
    >
  </li>
  <li>
    <a href="#" class="navImages"
      ><img src="../img/navBar/entries.png" />
      <div>Entries</div></a
    >
  </li>
  <li>
    <a href="#" class="navImages"
      ><img src="../img/navBar/photo.png" />
      <div>Photos</div></a
    >
  </li>
  <li>
    <a href="#" class="navImages"
      ><img src="../img/navBar/goals.png" />
      <div>Goals</div></a
    >
  </li>
  <li>
    <a href="#" class="navImages"
      ><img src="../img/navBar/settings.png" />
      <div>Settings</div></a
    >
  </li>
</ul>
