@import url(global.css);
@import url(logo.css);
@import url(navbar.css);

.entriesContent {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.entriesContent a {
  text-decoration: none;
  color: var(--Dark_Green);
  text-align: center;
}

#addEntryBtn {
  max-width: 100px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}
.entryItem {
  background-color: var(--Light_Green);
  padding: 5px;
  border: 1px solid var(--Dark_Green);
  border-radius: 10px;
  height: 150px;
  overflow: hidden;
  filter: grayscale(80%);
  cursor: zoom-in;
}
.addEntryItem {
  cursor: default;
}

.entryItem:hover {
  filter: grayscale(0);
}

.displayOverlay {
  position: absolute;
  left: 50%;
  top: 40vh;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 40vw;
  transition: 0.5s;
  cursor: default;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1/1;
  display: none;
  cursor: pointer;
}

.deleteBtn {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  font-size: var(--s0);
  border-radius: 20px;
  display: none;
  left: 5px;
  bottom: 5px;
}

.editBtn {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  font-size: var(--s0);
  border-radius: 20px;
  right: 5px;
  bottom: 5px;
  display: none;
}

.displayBtn {
  display: block !important;
}

@media screen and (min-width: 550px) {
  .deleteBtn {
    font-size: var(--s1);
    padding: 15px;
    bottom: 10px;
    left: 10px;
  }
  .editBtn {
    font-size: var(--s1);
    padding: 15px;
    bottom: 10px;
    right: 10px;
  }
}
