@import url(global.css);
@import url(logo.css);
@import url(navbar.css);

#entryForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding: 15px 15px 15px 15px;
}
#entryForm label {
  padding: 10px;
}

.entryButtons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

#entry {
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid #c3c3c3;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  padding: 10px 10px 10px 10px;
}

#addEntry {
  width: 40%;
  max-width: 400px;
  min-width: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--Green);
  border: none;
  color: var(--White);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

#addEntry:hover {
  background-color: var(--Light_Green);
}
