@import url(global.css);
@import url(logo.css);
@import url(navbar.css);

#entryForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entryButtons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

#leftButton {
  width: 90px;
  height: 90px;
  /* padding: 0 30% 0 30%; */
  background-color: #fafafa;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
}

#leftButton:hover {
  background-color: rgb(220, 220, 220);
}

#rightButton {
  width: 90px;
  height: 90px;
  /* padding: 0 30% 0 30%; */
  background-color: #fafafa;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
}

#rightButton:hover {
  background-color: rgb(220, 220, 220);
}
