@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
  --primary-color: rgb(56, 149, 153);
  --Brown: #9b6959;
  --Light_Green: #79bea0;
  --Green: #46ab86;
  --White: #f8f7f9;
  --Dark_Green: #122b14;
}

body {
  margin: 0;
}

#logo {
  width: 150px;
  padding-right: 100vw;
  display: block;
  position: sticky;
  top: 0;
  background-color: var(--Green);
  background-image: url('../img/leaves.jpeg');
}

.recent {
  padding: 0 10px;
}

ul {
  transition: 0.3s;
  position: fixed;
  left: 0;
  bottom: 0;
  align-content: center;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  background-color: var(--Brown);
  box-shadow: 0px 0px 3px 3px rgba(217, 217, 217, 0.44);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

ul li {
  padding: 15px;
  margin: 0 auto;
}

ul li:hover {
  background-color: rgba(220, 220, 220);
  color: var(--Dark_Green);
  border-radius: 15px;
}

.navLinks {
  height: auto;
  margin: auto;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--White);
}

.navLinks img {
  margin: 0 10px;
  max-width: 30px;
}

.navLinks div {
  text-align: center;
}

#hamburgerMenu div {
  width: 35px;
  height: 5px;
  background-color: black;
}

.entriesBox form {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
}

/* This is the media query for mobile views */
@media screen and (min-width: 550px) {
  #navbar {
    height: 100vh;
    position: absolute;
    top: 0;
  }

  .recent {
    margin-left: 150px;
    margin-right: 0;
    padding: 0 10px;
  }

  #logo {
    z-index: 1;
  }

  ul {
    top: 0;
    flex-direction: column;
    height: 100%;
    width: 150px;
    justify-content: flex-start;
    padding-top: 100px;
  }

  ul li {
    padding: 20px;
  }

  .navLinks img {
    display: none;
  }
}

/* Second media query is for navbar link and removing text to make it all fit */
@media screen and (max-width: 400px) {
  ul {
    padding-top: 0px;
  }

  ul li {
    margin: 0;
    padding: 10px;
  }

  .navLinks img {
    max-width: 25px;
    margin: 0;
  }

  .navLinks div {
    display: none;
  }
}

/* Entries CSS */
.entriesContent {
  /* padding: 50px 0 0 0 0; */
  width: 90%;
  height: 650px;
  margin: auto;
  background-color: var(--Light_Green);
}

.entriesButtons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

#leftButton {
  width: 90px;
  height: 90px;
  /* padding: 0 30% 0 30%; */
  background-color: #fafafa;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
}

#leftButton:hover {
  background-color: rgb(220, 220, 220);
}

#rightButton {
  width: 90px;
  height: 90px;
  /* padding: 0 30% 0 30%; */
  background-color: #fafafa;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
}

#rightButton:hover {
  background-color: rgb(220, 220, 220);
}

@media screen and (min-width: 550px) {
  .entriesBox {
    margin-left: 150px;
    margin-right: 0;
  }

  .entriesContent {
    /* padding: 50px 0 0 0 0; */

    width: 90%;
    height: 650px;
    margin: auto;
    background-color: var(--Light_Green);
  }
}
