#logo img {
  top: 0;
  z-index: 2;
  box-sizing: content-box;
  height: var(--logo_height);
  display: block;
  position: sticky;
  padding-right: calc(100% - var(--logo_width));
  background-color: var(--Green);
  background-image: url('../img/leaves.jpeg');
}
