body {
  position: relative;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  background-color: var(--Brown);
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
}

/* #navbarAnimation {
  transform: translateY(100px);
  animation: moveUp 1s forwards;
}

@keyframes moveUp {
  to {
    transform: translateY(0px);
  }
} */

#navbar li {
  border-radius: 10px;
  list-style: none;
  padding: 5px;
}

#navbar li:hover {
  transition: 1s;
  background-color: azure;
  box-shadow: 2px 2px 5px var(--Dark_Green);
}

#navbar li .navLinks img {
  transition: 1s;
  width: 20px;
}

#navbar li .navLinks div {
  transition: padding 1s;
  display: none;
  color: var(--Dark_Green);
  font-family: 'Roboto', sans-serif;
}

#hamburgerMenuButton {
  display: none;
}

@media screen and (min-width: 400px) {
  #navbar li .navLinks img {
    width: 40px;
    margin: auto;
    display: block;
  }
  #navbar li .navLinks div {
    width: 60px;
    display: block;
    text-align: center;
  }

  .navLinks {
    text-decoration: none;
  }
}

@media screen and (min-width: 550px) {
  #navbar {
    display: block;
    left: 0;
    height: 100vh;
    width: var(--logo_width);
    padding-top: 100px;
    box-shadow: 5px 0 10px var(--Dark_Green);
  }

  .toggleNavbarStyle {
    left: calc(-1 * var(--logo_width)) !important;
  }

  #navbar li .navLinks img {
    display: none;
  }
  #navbar li .navLinks div {
    padding: 20px 10px;
    width: 100%;
    font-size: var(--s1);
    font-weight: 500;
  }
  #hamburgerMenuButton {
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 5px;
    border-radius: 50% 0;
    color: var(--White);
    background-color: var(--Dark_Green);
  }
  #hamburgerMenuButton:hover {
    box-shadow: 2px 2px 5px var(--Dark_Green);
  }
  .toggleButtonStyle {
    transform: translateX(20px);
  }
  main {
    margin-left: var(--logo_width);
    transition: 0.5s;
  }
  .toggleMainStyle {
    margin-left: 20px;
  }
}
